<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}Try Django 2.0{% endblock head_title %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<style>
		{% block style %}{% endblock style %}
	</style>
	{% block head_extra %} {% endblock head_extra %}
</head>
<body>

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1958768794430932&autoLogAppEvents=1"></script>
	{% include "messages.html" %}
	<div class="container">
		<ol class="breadcrumb">
			<li><a href='{% url "posts:list" %}'>Home</a></li>
			{% block post_detail_link %}
			{% endblock %}

			{% if request.user.is_authenticated %}
			<li class="pull-left"><a href="{% url 'account:register'%}">Register</a></li>
			<li class="pull-left"><a href="{% url 'account:login'%}">Login</a></li>
			{% else %}
			<li class="pull-right"><a href="{% url 'account:logout'%}">Logout</a></li>
			{% endif %}
		</ol>

		{% block content %} {% endblock content %}

	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".content-markdown").each(function(){
		var content = $(this).text()
		var markedContent = marked(content)
		$(this).html(markedContent)
	})
	$(".post-detail-item img").each(function(){
		$(this).addClass("img-fluid")
			
	})


	//var titleInput = $("#id_title");
	//$('#preview-tital').text(titleInput.val())


	//var contentInput = $("#id_content");

	//function setContent(value){
		//var markedContent = marked(value)
		//$("#preview-content").html(markedContent)
		//$("#preview-content img").each(function()){
			//$(this).addClass("img-fluid")
		//}
	//}
	//setContent(contentInput.val())

	//contentInput.keyup(function(){
		//var newContent = $(this).val()
		//setContent(newContent)

	//})

	$(".comment-reply-btn").click(function(event){
		event.preventDefault();
		$(this).parent().next(".comment-reply").fadeToggle();
	})


		
})
</script>
</body>
</html>



